<menu class="account-menu">
	<li class="title">Mon compte</li>
	<li>
		<a href="/account/orders">Mes commandes</a>
	</li>
	<li>
		<a href="/account/infos">Mes informations</a>
	</li>
	<li>
		<a href="/logout">Me déconnecter</a>
	</li>
</menu>
