{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="comment">
        <h1>Ajouter un Commentaire pour l'article {{article.name}}</h1>
        <form action="index.php?route=check-comment&articleId={{ article.id }}" method="post">
            <fieldset>
                <label for="grade">Choisir une note :</label>

                <select name="grade" id="grade">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="comment">Votre commentaire :</label>
                <textarea id="comment" name="comment" rows="5" cols="33"></textarea>
            </fieldset>
            <fieldset>
                <button type="submit" name="post">Poster</button>
            </fieldset>
        </form>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}