{% extends "layout.html.twig" %}

{% block title %}
    Se connecter
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="login">
        <form action="index.php?route=check-login" method="post">
            <fieldset class="container">
                <legend>Se connecter</legend>
                <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}" />
                
                <fieldset>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Entrez votre adresse email"/>
                </fieldset>
                
                <fieldset class="my-1">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe"/>
                    {% if error is defined %}
                        <p class="error" id="error-msg">{{ error }}</p>
                    {% endif %}
                </fieldset>
                
                <fieldset class="nav-buttons">
                    <fieldset>
                        <button type="submit" name="login">Se connecter</button>
                    </fieldset>
                    <fieldset>
                        <a class="btn-register" href="index.php?route=register">S'inscrire</a>
                    </fieldset>
                </fieldset>
            </fieldset>
        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="assets/js/error-success.js" defer></script>
{% endblock %}