{% extends "layout.html.twig" %}

{% block title %}
	Se connecter
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="login">
		<div class="login-section">
			<img src="assets/media/tara.jpg" alt="Tara la mascotte de TimberWolf"/>

			<section class="section-form">
				<h1>Connexion</h1>

				<form action="/check-login" method="post">
		
						<input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}"/>
						<fieldset class="form-item">
							<input type="email" name="email" autocomplete="off" id="email" placeholder="Email"/>
							<label for="email">Email</label>
						</fieldset>

						<fieldset class="form-item">
							<input type="password" name="password" autocomplete="off" id="password" placeholder="Mot de passe"/>
							<label for="password">Mot de passe</label>
						</fieldset>

						<button type="submit" name="login">Se connecter</button>
						<a class="btn-register" href="/register">S'inscrire</a>

				</form>
			</section>
		</div>
	</main>
{% endblock %}

{% block javascript %}
{% endblock %}
