{% extends "layout.html.twig" %}

{% block title %}
	S'inscrire
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="register">
		<div class="register-section">
			<img
			src="assets/media/tara.jpg" alt="Tara la mascotte de TimberWolf"/>
			{# Formulaire d'inscription #}
			<section class="section-form">
				<h1>Inscription</h1>
				<form action="/check-register" method="post">
					<input type="hidden" name="csrf-token" id="csrf-token" value="{{csrf_token}}"/>

					<fieldset class="form-item">
						<input type="text" name="firstName" id="firstName" placeholder="Prenom"/>
						<label for="firstName">Prénom</label>
					</fieldset>

					<fieldset class="form-item">
						<input type="text" name="lastName" id="lastName" placeholder="Nom"/>
                        <label for="lastName">Nom</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="email" name="email" id="email" placeholder="Email"/>
                        <label for="email">E-mail</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="password" name="password" id="password" placeholder="Mot de passe"/>
                        <label for="password">Mot de passe</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe"/>
                        <label for="confirm-password">Confirmer le mot de passe</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="text" name="address" id="address" placeholder="Adresse"/>
                        <label for="address">Adresse</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="text" name="city" id="city" placeholder="Ville"/>
                        <label for="city">Ville</label>
                    </fieldset>

					<fieldset class="form-item">
						<input type="number" name="postalCode" id="postalCode" placeholder="Code postal"/>
						<label for="postalCode">Code postal</label>
					</fieldset>

					<fieldset class="form-item">
						<input type="text" name="country" id="country" placeholder="Pays"/>
						<label for="country">Pays</label>
					</fieldset>

					<button type="submit" name="register">S'inscrire</button>

					<a class="btn-login" href="/login">Se connecter</a>
				</form>
			</section>
		</div>
	</main>
{% endblock %}

{% block javascript %}
{% endblock %}
