/* VARS */
@import "vars/fonts";
@import "vars/colors";

/* PARTIALS */
@import "partials/header";
@import "partials/footer";

/* PAGES */
@import "pages/home";
@import "pages/articles";
@import "pages/article";
@import "pages/cart";
@import "pages/contact";
@import "pages/adopt";

/* ACCOUNT */
@import "account/account";
@import "account/login";
@import "account/register";

/* LIBS */
@import "libs/resets";

*,
*::before,
*::after,
*:focus {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  background-color: $background;
  line-height: 1.8;
}

//light-mode
body.light {
  .header {
    background-color: $green;

    .icons {
      .fa-stack[data-count]:after {
        color: $green;
      }
    }

    .menu {
      a {
        &::after {
          background-color: $green;
        }
      }
    }
  }

  #content.articles {
    h1 {
      color: $green;
    }
  }

  #content.contact {
    h1 {
      color: $green;
    }

    .contact-form {
      button {
        background-color: $green;

        &:hover {
          background-color: $darkGreen;
        }
      }
    }

    #about {
      h3 {
        background-color: $green;
      }
    }
  }

  .description-ingredients {
    thead {
      tr {
        td {
          background-color: $green;

          h3 {
            cursor: pointer;
            color: $white;
          }
        }

        td:hover {
          background-color: $white;

          h3 {
            color: $green;
          }
        }
      }
    }
  }

  #content.cart {
    .form-checkout {
      .btn-cart-back,
      #checkout-button,
      .btn-login {
        border: 2px solid $green;
        color: $green;
        background: $white;
      }

      .btn-cart-back:hover,
      #checkout-button:hover,
      .btn-login:hover {
        color: $white;
        background: $green;
      }
    }
  }

  #content.home {
    h2 {
      color: $green;
    }

    .banner {
      .btn-articles {
        color: $green;
        border: 2px solid $green;
      }

      .btn-articles:after {
        background: $darkMode;
      }

      .btn-articles:hover {
        color: #fff;
      }
    }

    .home-nav {
      ul {
        li::before {
          background-image: url(../../media/nav-home.svg);
        }
      }
    }

    .owl-dots button.owl-dot.active span,
    .owl-dots button.owl-dot:hover span {
      background-color: $green;
    }
  }

  footer {
    background-color: $darkMode;
  }
}

//dark-mode
body.dark {
  .header {
    background-color: $darkMode;

    .icons {
      .fa-stack[data-count]:after {
        color: $darkMode;
      }
    }

    .menu {
      a {
        &::after {
          background-color: $darkMode;
        }
      }
    }
  }

  #content.articles {
    h1 {
      color: $darkMode;
    }
  }

  #content.contact {
    h1 {
      color: $darkMode;
    }

    .contact-form {
      button {
        background-color: $darkMode;

        &:hover {
          background-color: $darkModeHover;
        }
      }
    }

    #about {
      h3 {
        background-color: $darkMode;
      }
    }
  }

  #content.article {
    .cart-button {
      background-color: $darkMode;

      &:hover {
        background-color: $darkModeHover;
      }
    }

    .description-ingredients {
      thead {
        tr {
          td {
            background-color: $darkMode;

            h3 {
              cursor: pointer;
              color: $white;
            }
          }

          td:hover {
            background-color: $white;

            h3 {
              color: $darkMode;
            }
          }
        }
      }
    }
  }

  #content.cart {
    .form-checkout {
      .btn-cart-back,
      #checkout-button,
      .btn-login {
        border: 2px solid $darkMode;
        color: $darkMode;
        background: $white;
      }

      .btn-cart-back:hover,
      #checkout-button:hover,
      .btn-login:hover {
        color: $white;
        background: $darkMode;
      }
    }
  }

  #content.home {
    h2 {
      color: $darkMode;
    }

    .banner {
      .btn-articles {
        color: $darkMode;
        border: 2px solid $darkMode;
      }

      .btn-articles:after {
        background: $darkMode;
      }

      .btn-articles:hover {
        color: #fff;
      }
    }

    .home-nav {
      ul {
        li::before {
          background-image: url(../../media/nav-home-dark-mode.svg);
          opacity: 1;
        }
      }
    }

    .owl-dots button.owl-dot.active span,
    .owl-dots button.owl-dot:hover span {
      background-color: $darkMode;
    }
  }

  footer {
    background-color: $darkMode;
  }
}

.dark-mode-btn {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  font-size: 2rem;
}

.card {
  width: 100%;
  background-color: $white;
  border-radius: 0.35rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 0;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .card-img {
      padding: 1rem 0;
      width: 100%;
      height: auto;
    }

    .card-img img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }

    .card-body {
      width: 100%;
      height: 55%;
      background: rgba(140, 50, 19, 0.06);
      padding: 1rem;
      border-radius: 0.35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .card-title {
        font-size: 1.7rem;
      }

      .card-price {
        font-weight: 700;
      }
    }
  }

  .out-of-stock {
    padding: 0 2rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 1rem;
    z-index: 1;
    border: 3px solid $soldOut;
    color: $soldOut;
    background: transparent;
    font-size: 20px;
    font-weight: 900;
  }
}

.card:hover {
  transform: translateY(-0.5rem);
}

i {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.8rem;
}

h2,
legend {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

p,
a,
input,
button,
label,
figcaption {
  font-size: 1.6rem;
}
