@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
input,
button {
  font-size: 1.8rem;
}

i {
  font-size: 2.3rem;
}
section {
  padding: 2rem 0;
}
/****************************************
                HEADER
****************************************/

.header {
  position: relative;
  padding: 1rem 2rem;
  background-color: #18534f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 15rem;
      height: auto;
    }
    figcaption {
      font-family: "Dancing Script", cursive;
      color: #ffff;
    }
  }
  /*****SEARCH-BAR******/
  .search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    .input-searchbar {
      border: none;
    }
    .button-searchbar {
      border: none;
      background-color: #ffff;
      color: #ffff;
    }
  }

  /*****MENU******/

  .menu {
    display: flex;

    li {
      list-style: none;
      i {
        color: #ffff;
        padding-right: 1rem;
      }
    }
  }

  /********MENU-BURGER*********/

  .burger-menu {
    position: absolute;
    display: inline-block;
    background-color: #18534f;
    top: 12rem;
    a,
    form {
      padding: 0 2rem;
    }
    li:not(:first-of-type) {
      a {
        text-decoration: none;
        color: #ffff;
      }
    }
    li:hover:not(:first-of-type) {
      background-color: #ffff;
      a {
        color: #18534f;
      }
    }
    &.open {
      width: 100vw;
      left: 0;
      transition: ease-in 0.4s;
    }
    &.close {
      width: 100vw;
      left: -999rem;
      transition: ease-out 0.5s;
    }
  }
}

/****************************************
              MAIN MENU
****************************************/

/****BANNER*****/

.banner {
  padding: 2rem 0;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  .husky-banner {
    width: 30%;
    height: auto;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 5rem;
      font-family: "Dancing Script", cursive;
      padding-bottom: 1rem;
    }
    button {
      display: inline-block;
      border-radius: 0.8rem;
      border: none;
      background-color: #18534f;
      padding: 1rem 0;
      a {
        text-decoration: none;
        color: #ffff;
      }
    }
    button:hover {
      background-color: #626567;
    }
  }
}

/********SECTIONS-LINKS***********/

.sections-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    border-radius: 1rem;
    box-shadow: 10px 10px 7px -5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    a {
      text-decoration: none;
      color: #ffff;
    }
    h3 {
      padding: 1rem 0;
      border-radius: 1rem 1rem 0 0;
      text-transform: uppercase;
      text-align: center;
      background-color: #18534f;
    }
    width: 50vw;
    img {
      border-radius: 0 0 1rem 1rem;
      width: 100%;
      height: auto;
    }
  }
  article:hover {
    opacity: 0.5;
    transition: ease 0.5s;
  }
}

/****PRODUCTS*****/

.order {
  padding: 1rem 0;
}

.top-sales,
.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  h1 {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    color: #18534f;
  }
  .products {
    border-radius: 1rem;
    background-color: #ffff;
    grid-row: 2;
    display: grid;
    grid-template-rows: 5fr 1fr 1fr;
    width: 50vw;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    .fig-product {
      grid-row: 1;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 50%;
        height: auto;
        padding: 1.5rem 0;
      }
      figcaption {
        text-align: center;
      }
    }

    p {
      grid-row: 2;
      justify-self: center;
    }
    form {
      grid-row: 3;
      justify-self: center;
      .button-cart {
        border: none;
        background: #18534f;
        color: #ffff;
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.8rem;
      }
    }
  }
}

/****************************************
                FOOTER
****************************************/

.footer {
  padding: 1rem 2rem;
  background-color: #18534f;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  section {
    padding-bottom: 2rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #ffff;
      }
    }
  }
  .social-networks {
    justify-self: center;
    align-self: center;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding: 0 0.5rem;
        i {
          font-size: 3rem;
        }
      }
    }
  }

  .footer-bar {
    width: 100%;
    border-bottom: 1px solid #ffff;
  }
}
