@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/****************************************
                HEADER
****************************************/

.header {
  padding: 1rem 2rem;
  background-color: #18534f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
    height: auto;
    figcaption {
      font-family: "Dancing Script", cursive;
      color: #ffff;
      font-size: 2rem;
    }
  }
  .search {
    .input-searchbar {
      border: none;
      padding: 0.5rem;
      border-radius: 0.8rem 0 0 0.8rem;
    }
    .button-searchbar {
      border: none;
      background-color: #626567;
      color: #ffff;
      padding: 0.5rem;
      border-radius: 0 0.8rem 0.8rem 0;
    }
  }
  .menu-desktop {
    display: none;
    li {
      list-style: none;
      a {
        color: #ffff;
        text-decoration: none;
        font-size: 1.8rem;
        padding-right: 1rem;
      }
    }
  }
  .menu-phone {
    display: flex;
    li {
      list-style: none;
      a {
        color: #ffff;
        text-decoration: none;
        font-size: 1.8rem;
        padding-right: 1rem;
      }
    }
  }
}
/****************************************
              MAIN MENU
****************************************/

/****BANNER*****/

.banner {
  display: grid;
  grid-template-rows: 10vh 10vh 3vh;
  .husky-banner {
    grid-row: 1;
    width: 10vh;
    height: auto;
    justify-self: center;
  }
  h1 {
    grid-row: 2;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
  }
  button {
    grid-row: 3;
    width: 5rem;
    justify-self: center;
    border: none;
    background-color: #18534f;
    color: #ffff;
  }
  button:hover {
    background-color: #626567;
    color: #ffff;
  }
}

/****TOP-SALES*****/

.top-sales {
  display: grid;
  grid-template-rows: 1fr 5fr;
  justify-content: space-around;
  article {
    grid-row: 2;
    display: grid;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    img {
      grid-row: 1;
      width: 10rem;
      justify-self: center;
    }
    h3 {
      grid-row: 2;
      justify-self: center;
    }
    p {
      grid-row: 3;
      justify-self: center;
    }
    form {
      grid-row: 4;
      justify-self: center;
    }
  }
}
