{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="cart">
        <header>
            <h2>Mon panier</h2>
            <p id="cart-total-price">Total : 0$</p>
        </header>
        <main>
            <ul>
                {% for item in cart.getItems() %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <a class="btn btn-cart-back" href="index.php">Continuer mes achats</a>
            <a class="btn btn-cart-order" href="index.php?route=pay">Finaliser la commande</a>
        </footer>
    </main>
{% endblock %}

{% block javascript %}
    {# <script type="module" src="assets/js/main-cart.js"></script> #}
{% endblock %}