{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <main id="content" class="privacy">
        <h1>Politique de confidentialités</h1>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}