{% extends "layout.html.twig" %}

{% block title %}
	403
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="403" role="main">
		<h1 class="error">Erreur 403</h1>
		<p>Accès interdit</p>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
