{% extends "layout.html.twig" %}

{% block title %}
	403
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="denied">
		<h1 class="error">403</h1>
		<p>Accès refusé</p>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
