{% extends "layout.html.twig" %}

{% block title %}
	404
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="notFound" role="main">
		<h1 class="error">404</h1>
		<p>Page non trouvé</p>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
