{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <h1>Conditions générale de vente</h1>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}