{% extends "layout.html.twig" %}

{% block title %}
    {{article.name}}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="legal">
        <h1>Mentions légales</h1>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}