{% extends "layout.html.twig" %}

{% block title %}
	Admin
	{{ parent() }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
{% endblock %}

{% block main %}
	<main id="content" class="admin">
		{% if session is defined and session.role == "ADMIN" %}

			<h1 class="mt-5">Bienvenue
				{{ session.firstName }}
				{{ session.lastName }} !
			</h1>

			<div class="small-box bg-info">
				<div class="inner">
					<h2>Nouvelles commandes</h2>
				</div>
				<div class="icon">
					<i class="fas fa-shopping-cart"></i>
				</div>
				<a href="index.php?route=admin-orders" class="small-box-footer">
					Plus d'infos
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>

			<div class="small-box bg-gradient-success">
				<div class="inner">
					<h2>Gestion des utilisateurs</h2>
				</div>
				<div class="icon">
					<i class="fas fa-user"></i>
				</div>
				<a href="index.php?route=admin-users" class="small-box-footer">
					Plus d'infos
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>

			<div class="small-box bg-gradient-danger">
				<div class="inner">
					<h2>Gestion des stocks</h2>
				</div>
				<div class="icon">
					<i class="fas fa-box"></i>
				</div>
				<a href="index.php?route=admin-stocks" class="small-box-footer">
					Plus d'infos
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>

			<div class="small-box bg-gradient-primary">
				<div class="inner">
					<h2>Ajout d'un article</h2>
				</div>
				<div class="icon">
					<i class="fas fa-plus"></i>
				</div>
				<a href="index.php?route=admin-add-article" class="small-box-footer">
					Plus d'infos
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>

			<form action="index.php?route=logout" class="disconnect" method="post">
				<button type="submit" class="btn btn-block bg-gradient-success btn-lg">Se déconnecter</button>
			</form>
		{% else %}
			<h1>Vous n’êtes pas autorisé à accéder à cette page</h1>
			<a class="btn-home" href="index.php">Retourner à l'accueil</a>
		{% endif %}
		{% if error is defined %}
			<p class="error" id="error-msg">{{ error }}</p>
		{% endif %}
	</main>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
	<script src="assets/js/admin.js" defer></script>
	<script src="assets/js/error-success.js" defer></script>
{% endblock %}
