{% extends "layout.html.twig" %}

{% block title %}
    Merci pour votre commande
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
{% endblock %}

{% block javascript %}
{% endblock %}