{% extends "layout.html.twig" %}

{% block title %}
	Merci pour votre commande
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main class="success-payment" role="main">
		<section aria-label='Succès de la commande'>
			<p>
				Merci pour votre commande !
			</p>
		</section>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
