{% extends "layout.html.twig" %}

{% block title %}
    Merci pour votre commande
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
  <section>
    <p>
      Merci pour votre commande !
    </p>
  </section>
{% endblock %}

{% block javascript %}
{% endblock %}