{% extends "layout.html.twig" %}

{% block title %}
	Merci pour votre commande
	{{ parent() }}
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<main id="content" class="success-payment" role="main">
		<section class="container" aria-label='Succès de la commande'>
			<div class="circle">
				<i class="checkmark">✓</i>
			</div>
			<p>
				Merci pour votre commande !
			</p>
			<a href="/">Retourner à l'accueil</a>
		</section>
	</main>
{% endblock %}

{% block javascript %}{% endblock %}
