body > footer {
  padding: 1rem 2rem;
  background-color: $green;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .title {
    font-family: "Dancing Script", cursive;
  }
  section {
    padding-bottom: 2rem;
    a{
      color: $white;
    } 
    li {
      list-style: none;
      a {
        color: $white;
      }
    }
  }
  .social-networks {
    justify-self: center;
    align-self: center;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding: 0 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {

  body > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .social-networks {
      justify-self: normal;
      align-self: normal;
    }
  }
}