body>.footer {
  padding: 1rem 2rem;
  background-color: $green;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    font-size: 2.2rem;
  }

  .title {
    font-family: "Dancing Script", cursive;
  }

  /*******************
    SECTIONS
  *******************/
  section {
    padding-bottom: 2rem;

    a {
      color: $white;
    }

    li {
      list-style: none;

      a {
        color: $white;

        i {
          padding: 0 0.5rem;
        }
      }
    }
  }

  /*******************
    SOCIAL NETWORKS
  *******************/

  .social-networks {
    justify-self: center;
    align-self: center;

    ul {
      display: flex;
      justify-content: center;

      li {
        padding: 0 0.5rem;
      }
    }
  }
}

/*******************
      DESKTOP
*******************/
@media screen and (min-width: 800px) {
  body>.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .social-networks {
      justify-self: normal;
      align-self: normal;
    }
  }
}