body > header {
  position: sticky;
  top: 0;
  height: 85px;
  padding: 1rem 2rem;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      width: 60px;
      height: auto;
    }
    p {
      padding-left: 0.5rem;
      font-family: "Dancing Script", cursive;
      color: $white;
      width: 8rem;
    }
  }
  /*******************
        ICONS
  *******************/
  .icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      i {
        color: $white;
      }
      span {
        color: $white;
        font-size: 2rem;
        font-weight: 900;
      }
      .cart-icon {
        position: relative;
        .cart-count {
          border: 1px solid $white;
          border-radius: 50%;
          background-color: $green;
          position: absolute;
          color: $white;
          opacity: 0.9;
          z-index: 2;
          top: -1.7rem;
          left: 2rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  /*******************
        MENU
  *******************/
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $white;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    li {
      list-style: none;
      padding-bottom: 0.5rem;
      a {
        color: $black;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-color: $green;
          bottom: -5px;
          left: 0;
          width: 0%;
          height: 3px;
          transition: 0.3s ease all;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    li:last-child {
      display: none;
    }
    &.active {
      transform: translateX(0%);
    }
  }

  /*******************
    MENU-BURGER
  *******************/
  #hamburger-icon {
    width: 2rem;
    height: 2.25rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 0.45rem;
      width: 100%;
      background: $white;
      border-radius: 4.5px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2) {
      top: 9px;
    }

    span:nth-child(3) {
      top: 18px;
    }
  }
  #hamburger-icon.active span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #hamburger-icon.active span:nth-child(2) {
    opacity: 0;
    left: -30px;
  }

  #hamburger-icon.active span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .search {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  body > header {
    .icons {
      display: none;
    }

    .menu {
      width: 80%;
      position: inherit;
      height: inherit;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      transform: inherit;
      li {
        list-style: none;

        a,
        i {
          color: $white;
        }
      }
      li:last-child {
        display: flex;
      }
    }
  }
}
