body > header {
  position: relative;
  background-color: #009a87;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        max-width: 100%;
        width: 3em;
        height: auto;
      }
      figcaption {
        font-size: 2rem;
        font-family: "Dancing Script", cursive;
        color: #ffff;
      }
    }
  }
  /*****SEARCH-BAR******/
  .search {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .input-searchbar {
      width: 80%;
      border: none;
      background-color: #ffff;
    }
    .button-searchbar {
      border: none;
      background-color: #ffff;
      color: #ffff;
    }
  }

  /*****MENU******/

  .menu {
    display: flex;
    a {
      position: relative;
      .cart-count {
        font-size: 1rem;
        position: absolute;
        border-radius: 50%;
        background-color: black;
        opacity: 0.9;
        color: #ffff;
        z-index: 2;
        top: -1.6rem;
        left: 1.3rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li {
      list-style: none;
      i {
        color: #ffff;
        padding-right: 1.2rem;
      }
    }
  }

  /********MENU-BURGER*********/

  .burger-menu {
    z-index: 999;
    position: absolute;
    display: inline-block;
    background-color: #009a87;
    top: 0;
    a,
    form {
      padding: 0 0 0 2rem;
    }
    li:not(:first-of-type) {
      a {
        text-decoration: none;
        color: #ffff;
      }
    }
    li:hover:not(:first-of-type) {
      background-color: #ffff;
      a {
        color: #009a87;
      }
    }
    &.open {
      width: 50vw;
      height: 100vh;
      left: 0;
      transition: ease-in 0.6;
    }
    &.close {
      width: 50vw;
      height: 100vh;
      left: -999rem;
      transition: ease-out 0.5s;
    }
  }
}
