$height-icon: 2rem;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

body > header {
  position: sticky;
  top: 0;
  height: 85px;
  padding: 1rem 2rem;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      width: 60px;
      height: auto;
    }
    p {
      padding-left: 0.5rem;
      font-family: "Dancing Script", cursive;
      color: $white;
      width: 8rem;
    }
  }
  /*******************
        ICONS
  *******************/
  .icons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      i {
        color: $white;
      }
      span {
        color: $white;
        font-size: 2rem;
        font-weight: 900;
      }
      .cart-icon {
        position: relative;
        .cart-count {
          border: 1px solid $white;
          border-radius: 50%;
          background-color: $green;
          position: absolute;
          color: $white;
          opacity: 0.9;
          z-index: 2;
          top: -1.7rem;
          left: 2rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  /*******************
        MENU
  *******************/
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $white;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.4s ease all;
    li {
      list-style: none;
      padding-bottom: 0.5rem;
      a {
        color: $black;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-color: $green;
          bottom: -5px;
          left: 0;
          width: 0%;
          height: 3px;
          transition: 0.3s ease all;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    li:last-child {
      display: none;
    }
    &.active {
      transform: translateX(0%);
    }
  }

  /*******************
    MENU-BURGER
  *******************/
  #hamburger-icon {
    width: 2.5rem;
    height: 5rem;
    position: relative;
    display: block;
    .line {
      display: block;
      background: $white;
      width: 2.5rem;
      height: 8px;
      position: absolute;
      left: 0;
      border-radius: (8px / 2);
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;

      &.line-1 {
        top: 0;
      }
      &.line-2 {
        top: 50%;
      }
      &.line-3 {
        top: 100%;
      }
    }
    &:hover,
    &:focus {
      .line-1 {
        transform: translateY(8px/ 2 * -1);
        -webkit-transform: translateY(8px / 2 * -1);
        -moz-transform: translateY(8px / 2 * -1);
      }
      .line-3 {
        transform: translateY(8px / 2);
        -webkit-transform: translateY(8px / 2);
        -moz-transform: translateY(8px / 2);
      }
    }
    &.active {
      .line-1 {
        transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
        -webkit-transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
        -moz-transform: translateY($translateY) translateX($translateX)
          rotate($rotation);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
        -webkit-transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
        -moz-transform: translateY($translateY * -1) translateX($translateX)
          rotate($rotation * -1);
      }
    }
  }

  a {
    text-decoration: none;
    margin: 0.5em 1.5em;
    display: inline-block;
  }
  .search {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  body > header {
    .icons {
      display: none;
    }

    .menu {
      width: 80%;
      position: inherit;
      height: inherit;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      transform: inherit;
      li {
        list-style: none;

        a,
        i {
          color: $white;
        }
      }
      li:last-child {
        display: flex;
      }
    }
  }
}
