#content.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // Modifier les coordonnées
    .update {
      border-radius: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      display: flex;
      flex-direction: column;
      background-color: $white;
      width: 80vw;
      .container {
        padding: 1rem;
        fieldset {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          button {
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            background-color: $white;
            color: $green;
            border: none;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 1rem;
          }
          button:hover {
            background-color: $green;
            color: white;
          }
        }
        input {
          padding: 0.5rem 1rem;
          border: 1px solid $grey;
          border-radius: 1rem;
        }
      }
    }
    .error {
      color: $red;
    }

    .my-orders {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        .plus {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          background-color: black;
          color: $white;
          border-radius: 50%;
        }
        a {
          color: $black;
        }
        a:hover {
          color: $green;
        }
      }
    }
  }

  .other-btns {
    button {
      padding: 0.5rem 1rem;
      margin: 1rem 0;
      background-color: $white;
      color: $green;
      border: none;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 1rem;
    }
    button:hover {
      background-color: $green;
      color: white;
    }
  }
}
