#content.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  button {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: $white;
    color: $green;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
  }
  button:hover {
    background-color: $green;
    color: $white;
  }
  form {
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 80vw;
    padding: 1rem 0.8rem;
    margin-top: 1rem;
  }
  .all-orders {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .plus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background-color: black;
        color: $white;
        border-radius: 50%;
      }
      a {
        color: $black;
      }
      a:hover {
        color: $green;
      }
    }
  }
  .stocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name-article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      label {
        text-align: center;
      }
    }
  }
}
