#content.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  form {
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    .container {
      padding: 1rem;
      legend {
        text-align: center;
        color: $black;
      }
      fieldset {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        input {
          padding: 0.5rem 1rem;
          border: 1px solid $grey;
          border-radius: 1rem;
        }
      }
      .nav-buttons {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        fieldset {
          width: 100%;
          button,
          input {
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            background-color: $white;
            color: $green;
            border: none;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 1rem;
            a {
              color: $green;
            }
          }
          input:hover,
          button:hover {
            background-color: $green;
            color: $white;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .error {
    color: $red;
  }
}
