$green: #009a87;
$white: #fff;
$black: black;
$red: #c91619;
$grey: #6e707e;
$background: #f8f9fc;
$soldOut: #f15c60;
$darkGreen: #0c6f63;
$darkMode: #2c3e50;
$darkModeHover: #26323d;
$lightGray : #d1d3e2;
$lightGreen :#2bc5b2;
