<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJET</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <title> {% block title %}{% endblock %}| Projet</title>
</head>
<body>
        <header>
            <img src="assets/img/logo.svg" width="200px"/>
            <h1 class="title">TimberWolf</h1>
                <menu>
                    <li>
                        <a href="index.php?route=">Acceuil</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Croquettes</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Friandises</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Jouets</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Contact</a>
                    </li>
                </menu>
        </header>

        {% block main %}
        {% endblock %}

        <footer></footer>
    </body>
</html>