<!DOCTYPE html>
<html lang="fr">
	<head>
		<base href="http://projet3wa.test/">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Découvrez nos accessoires et nourritures pour chien. Achetez en ligne les meilleures croquettes, friandises et jouets pour votre animal. Livraison rapide.">
		<title>
			{% block title %}{% endblock %}| TimberWolf</title>
		{% block head %}{% endblock %}
		<link href="./assets/font/css/fontawesome.css" rel="stylesheet">
		<link href="./assets/font/css/brands.css" rel="stylesheet">
		<link href="./assets/font/css/solid.css" rel="stylesheet">
		<link
		rel="stylesheet" href="/assets/styles/css/style.css">
		<!-- Système de notification -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/media/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/media/favicon/avicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/media/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/media/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<header class="header">
			<a href="/" class="logo">
				<img src="assets/media/logo.svg" alt="logo de TimberWolf"/>
				<p>TimberWolf</p>
			</a>


			<menu class="icons">
				<li>
					<a href="/cart/" class="cart-icon">
						<span class="fa-stack has-badge" data-count="{{count}}">
							<i class="fa fa-shopping-cart fa-stack-1x white-cart"></i>
						</span>
					</a>
				</li>
				<li class="search-btn">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
				<li id="hamburger-icon" title="menu-burger">
					<span></span>
					<span></span>
					<span></span>
				</li>
			</menu>


			<menu class="menu">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/categorie/croquettes/">Croquettes</a>
				</li>
				<li>
					<a href="/categorie/mastications/">Friandises</a>
				</li>
				<li>
					<a href="/categorie/jouets/">Jouets</a>
				</li>
				<li>
					<a href="/cart/">Panier</a>
				</li>
				{% if session is defined and session is not null %}
					<li>
						<a href="/account">Mon compte</a>
					</li>
					<li>
						<a href="/logout">Se déconnecter</a>
					</li>
				{% else %}
					<li>
						<a href="/login">Se connecter</a>
					</li>
					<li>
						<a href="/register">S'inscrire</a>
					</li>
				{% endif %}
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li class="search-btn menu-desktop">
					<i class="fa-solid fa-magnifying-glass"></i>
				</li>
			</menu>

			<form class="search closed" action="/articles-search" method="POST">
				<label for="search">Rechercher un article</label>
				<input class="input-searchbar" type="search" name="search" id="search" placeholder="Rechercher..."/>
				<input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}"/>
				<input class="button-searchbar" type="submit" value="&#128269;"/>
			</form>
		</header>

		{% block main %}{% endblock %}
		<a class="dark-mode" aria-label="modifier le contraste">
			<i class="fa-solid fa-circle-half-stroke"></i>
		</a>
		<footer class="footer">
			<section>
				<a href="/">
					<h2 class='title'>TimberWolf</h2>
				</a>
				<ul>
					<li><a href="mailto:contact@timberwolf.fr"><i class="fa-solid fa-envelope"></i>contact@timberwolf.fr</a></li>
					<li><a href="tel:0298000000"><i class="fa-solid fa-phone"></i>02.98.00.00.00</a></li>
					<li><a href="/adopt"><i class="fa-solid fa-paw"></i>Adopter un animal</a></li>
				</ul>
			</section>

			<section>
				<h2>Mon compte</h2>
				<ul>
					{% if session is defined and session is not null %}
						<li>
							<a href="/account">Mon compte</a>
						</li>
						<li>
							<a href="/logout">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a href="/login">Se connecter</a>
						</li>
						<li>
							<a href="/register">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
			</section>
			<section>
				<h2>Infos pratiques</h2>
				<ul>
					<li><a href="/privacy">Politique de confidentialités</a></li>
					<li><a href="/legal">Mentions légales</a></li>
					<li><a href="/conditions">Conditions générale de vente</a></li>
					<li><a href="/refund">Politique de remboursement</a></li>
				</ul>
			</section>
			<section class="social-networks">
				<h2>Suivez-nous sur :</h2>
				<ul>
					<li><a href="https://instagram.com"><i class="fa-brands fa-square-instagram"></i></a></li>
					<li><a href="https://x.com"><i class="fa-brands fa-square-x-twitter"></i></a></li>
					<li><a href="https://facebook.com"><i class="fa-brands fa-square-facebook"></i></a></li>
				</ul>
			</section>
		</footer>
		{% block javascript %}{% endblock %}
		<script src="assets/js/layout.js" defer></script>
		<script src="assets/js/modal.js" defer></script>
		<script type="module" src="assets/js/main-cart.js"></script>
		<!-- Système de notification -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

		{% if notify is defined and notify is not empty %}
			<script>
				function decodeHtmlEntities(text) {
var textArea = document.createElement('textarea');
textArea.innerHTML = text;
return textArea.value;
}

let cleanedMessage = decodeHtmlEntities("{{ notify.text|e('js') }}");
console.log(cleanedMessage);
Toastify({text: cleanedMessage, duration: 3000}).showToast();
			</script>
		{% endif %}
	</body>
</html>
