<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJET</title>
    <link href="./assets/font/css/fontawesome.css" rel="stylesheet">
    <link href="./assets/font/css/brands.css" rel="stylesheet">
    <link href="./assets/font/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <title> {% block title %}{% endblock %}| Projet</title>
</head>
<body>
        <header class="header">
            <figure class="logo">
            <img src="assets/img/logo.svg" alt="logo" />
                <figcaption>TimberWolf</figcaption>
            </figure>
                <menu>
                    <li>
                        <a href="index.php?route=">Acceuil</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Croquettes</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Friandises</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Jouets</a>
                    </li>
                    <li>
                        <a href="index.php?route=">Contact</a>
                    </li>
                    <li>
                        <a href="index.php?route="><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li>
                        <a href="index.php?route="><i class="fa-solid fa-bars"></i></i></a>
                    </li>
                </menu>
        </header>

        {% block main %}
        {% endblock %}

        <footer></footer>
    </body>
</html>