{% extends "layout.html.twig" %}

{% block main %}
    <h1>Se connecter</h1>
    <form action="index.php?route=check-login" method="post">
        <input type="hidden" name="csrf-token" id="csrf-token" value="<?= $_SESSION['csrf-token'] ?>" />
        <fieldset>
            <label for="email">
                Email
            </label>
            <input type="email" name="email" id="email"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="password">
                Mot de passe
            </label>
            <input type="password" name="password" id="password"/>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </fieldset>
    </form>
{% endblock %}