{% extends "layout.html.twig" %}

{% block main %}

    {{dump(user)}}
    
    <button><a href="index.php?route=logout">Logout</a></button>
    <h1>Se connecter</h1>
    <form action="index.php?route=check-login" method="post">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}" />
        <fieldset>
            <label for="email">
                Email
            </label>
            <input type="email" name="email" id="email"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="password">
                Mot de passe
            </label>
            <input type="password" name="password" id="password"/>
        </fieldset>
        <fieldset>
            <button type="submit">Se connecter</button>
        </fieldset>
        <fieldset>
            <button type="button"><a href="index.php?route=register">S'inscrire</a></button>
        </fieldset>
    </form>
    {% if error is defined %}
            {{ error }}
    {% endif %}
{% endblock %}