{% extends "layout.html.twig" %}

{% block main %}
    <section class="all-products">
        <h1>Tous nos produits</h1>
        <form class="order" method="GET">
            <select class="order-by">
                <option value="Trier par prix">Trier par prix croissant</option>
                <option value="Trier par prix">Trier par prix décroissant</option>
                <option value="Trier par prix">Trier par popularité</option>
            </select>
        </form>
        {% for article in articles %}
            <article class="products">
                <figure class="fig-product">
                    <img src="{{ article.image.getUrl()}}" alt= "{{ article.image.getAlt()}}"/>
                    <figcaption>{{article.name}}</figcaption>
                </figure> 
                <p>{{article.price}} €</p>
                <form class="add-to-cart" method="GET">
                    <input class="button-cart" type="submit" value="Ajouter au pannier" />
                </form>
            </article>
        {% endfor %}
    </section>
{% endblock %}