#content.adopt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  .text-adopt {
    width: 80%;
    h1 {
      text-align: center;
      text-transform: uppercase;
      color: $green;
      padding: 4.8rem;
    }
    p {
      padding: 1rem 0;
    }
  }
  .section-adopt {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      padding: 3.5rem;
    }
    #container {
      width: 100%;
      position: relative;
      height: auto;
      margin-bottom: 5rem;
      .item {
        width: 230px;
        gap: 10px;
        float: left;
        a {
          color: $white;
          font-size: 2rem;
          font-weight: 800;
          figure {
            display: flex;
            flex-direction: column;
            height: auto;
            // max-width: 300px;
            position: relative;
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }

            figcaption {
              display: none;
            }

            &:hover {
              figcaption {
                align-items: center;
                background-color: rgba(0, 0, 0, 0.4);
                bottom: 0;
                display: flex;
                justify-content: center;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
