#content.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  img {
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
  }

  /*******************
        ARTICLE
  *******************/
  .article-item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .short-desc,
    h1 {
      padding-bottom: 2rem;
      text-align: center;
    }

    .cart-button {
      position: relative;
      padding: 10px;
      width: 200px;
      height: 60px;
      border: 0;
      border-radius: 10px;
      background-color: $green;
      outline: none;
      cursor: pointer;
      color: $white;
      transition: 0.3s ease-in-out;
      overflow: hidden;

      &:hover {
        background-color: $darkGreen;
      }

      &:active {
        transform: scale(0.9);
      }

      .fa-shopping-cart,
      .fa-box {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      & .fa-shopping-cart {
        left: -10%;
        font-size: 2em;
      }

      & .fa-box {
        left: 52%;
        top: -20%;
        font-size: 1.2em;
      }

      span {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #fff;
        transform: translate(-50%, -50%);

        &.add-to-cart {
          opacity: 1;
        }

        &.added {
          opacity: 0;
        }
      }

      &.clicked {
        .fa-shopping-cart {
          animation: cart 1.5s ease-in-out forwards;
        }

        .fa-box {
          animation: box 1.5s ease-in-out forwards;
        }

        span.add-to-cart {
          animation: txt1 1.5s ease-in-out forwards;
        }

        span.added {
          animation: txt2 1.5s ease-in-out forwards;
        }
      }
    }

    .disabled {
      background-color: $grey;

      .add-to-cart {
        content: "Rupture de stock";
      }
    }

    @keyframes cart {
      0% {
        left: -10%;
      }

      40%,
      60% {
        left: 50%;
      }

      100% {
        left: 110%;
      }
    }

    @keyframes box {

      0%,
      40% {
        top: -20%;
      }

      60% {
        top: 40%;
        left: 52%;
      }

      100% {
        top: 40%;
        left: 112%;
      }
    }

    @keyframes txt1 {
      0% {
        opacity: 1;
      }

      20%,
      100% {
        opacity: 0;
      }
    }

    @keyframes txt2 {

      0%,
      80% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .price {
    padding-top: 2rem;
  }

  /********************************
    TABLE DESCRIPTION/INGREDIENTS  
  ********************************/

  .description-ingredients {
    border: 1px solid $grey;
    width: 80%;

    thead {
      tr {
        display: flex;
        flex-direction: column;
        align-items: center;

        td {
          width: 100%;
          background-color: $green;
          text-align: center;
          border-bottom: 1px solid $white;

          h3 {
            cursor: pointer;
            text-transform: uppercase;
            color: $white;
          }
        }

        td:hover {
          background-color: $white;

          h3 {
            color: $green;
          }
        }
      }
    }

    tbody {
      display: flex;
      flex-direction: column;

      tr {
        padding: 1rem 3rem;
      }

      .ingredients {
        display: none;
      }
    }
  }


  /*******************
        COMMENTS
  *******************/
  .comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .owl-carousel-comments {
      display: flex;
      width: 80%;
      max-width: 60%;
      overflow: hidden;
    }

    .owl-stage-outer {
      overflow: visible;
    }

    .owl-carousel-comments .owl-stage {
      display: flex;
    }

    .owl-item {
      opacity: 0;
      transition: opacity 500ms;
    }

    .owl-item.active {
      opacity: 1;
    }

    .owl-nav {
      display: none;
    }

    .comment {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid $grey;
    }
  }
}

/*******************
      DESKTOP 
*******************/
@media screen and (min-width: 800px) {
  #content.article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
      width: 40%;
    }

    .article-item {
      width: 40%;
    }

    .description-ingredients {
      width: 80%;
    }

    .comments {
      width: 80%;
    }
  }
}