#content.articles {
  display: grid;
  grid-template-columns: 10% 80% 10%;

  .order {
    padding: 1rem 0;
  }
  a {
    color: $black;
  }

  .all-products {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto;
    gap: 2rem;
    max-width: 100%;
    h1 {
      grid-row: 1;
      grid-column: 1/-1;
      text-align: center;
      color: $green;
      text-transform: uppercase;
    }
    .form-sort {
      grid-row: 2;
      grid-column: 1/-1;
      padding: 1rem 0;
      align-self: center;
    }
  }
}
@media screen and (min-width: 800px) {
  #content.articles {
    .all-products {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
