#content.cart {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .cart-payement {
    padding: 1rem;
    width: 80%;
    border-radius: 0.35rem;
    background-color: $white;
    grid-column: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      text-align: center;
    }
    .article {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 10%;
        height: auto;
      }
      p {
        padding: 1rem;
        text-align: center;
      }
      .increment-decrement-btns {
        display: flex;
        flex-direction: column;
      }
      .quantity {
        text-align: center;
      }
    }
    .update-shipping-costs {
      display: flex;
      flex-direction: column;
      align-items: center;
      legend {
        width: 100%;
        text-align: center;
      }

      fieldset {
        width: 50%;
        text-align: center;
      }
    }
    .form-checkout {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      .btn-cart-back,
      #checkout-button,
      .btn-login {
        padding: 10px;
        width: 200px;
        border: 2px solid $green;
        outline: none;
        cursor: pointer;
        color: $green;
        background: $white;
        text-align: center;
        margin-bottom: 1rem;
      }
      .btn-cart-back:hover,
      #checkout-button:hover,
      .btn-login:hover {
        color: $white;
        background: $green;
      }
    }
  }
}
