#content.cart {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 2rem 0;
  .cart-payement {
    grid-column: 2;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      text-align: center;
    }
    .article {
      display: flex;
      justify-content: space-between;
    }
  }
}
