#content.home {
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $green;
  }
  a {
    color: $black;
  }

  /*******************
        BANNER
  *******************/
  .banner {
    padding: 2rem 0;
    background-image: url(../../media/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: $black;
      text-align: center;
      max-width: 35rem;
      padding-bottom: 1rem;
    }
    .btn-articles {
      display: block;
      width: 20rem;
      height: 4rem;
      line-height: 40px;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      color: $green;
      border: 2px solid $green;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      transition: all 0.35s;
      span {
        position: relative;
        z-index: 2;
      }
    }
    .btn-articles:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $green;
      transition: all 0.35s;
    }
    .btn-articles:hover {
      color: #fff;
    }

    .btn-articles:hover:after {
      width: 100%;
    }
  }

  /*******************
       HOME-NAV
  *******************/
  .home-nav {
    padding-top: 2rem;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100%;
        height: 10rem;
        position: relative;
        margin-top: 1rem;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          color: $white;
          font-weight: bold;
          text-shadow: 1px 2px 3px $black;
          font-size: 4rem;
          line-height: 0.9;
          border-radius: 2rem;
        }
      }
      li::before {
        content: "";
        background-image: url(../../media/nav-home.svg);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        border-radius: 2rem;
      }
    }
  }

  /*******************
        TOP SALES
  *******************/

  .top-sales {
    padding: 2rem 0;
    .product {
      background-color: $white;
      // max-width: 30rem;
      height: 50rem;
      padding: 1rem;
      border-radius: 2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      margin-bottom: 0.5rem;
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          width: 50%;
          height: auto;
        }
      }
      .out-of-stock {
        padding: 0 2rem;
        text-align: center;
        text-transform: uppercase;
        border-radius: 1rem;
        z-index: 1;
        position: absolute;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        border: 3px solid $soldOut;
        color: $soldOut;
        background: transparent;
        font-size: 20px;
        font-weight: 900;
        transform: rotate(15deg) translateY(15px);
      }
    }
  }

  .owl-nav {
    display: none;
  }

  /*******************
        ABOUT
  *******************/
  #about {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    height: auto;
    p {
      padding: 1rem 2rem;
    }

    h3 {
      cursor: pointer;
      text-transform: uppercase;
      background-color: $green;
      color: $white;
      width: 100%;
      height: auto;
      text-align: center;
    }

    h3:first-of-type {
      border-bottom: 1px solid $white;
    }

    li {
      text-align: center;

      a {
        color: black;
      }
    }

    .container-map {
      #map {
        min-width: 300px;
        min-height: 200px;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  #content.home {
    .home-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        width: 80vw;
        li {
          margin: 0;
        }
        .dog-food {
          grid-column: 1;
          grid-row: span 2;
          height: 100%;
        }
      }
    }

    .product img {
      width: 80%;
      height: auto;
    }

    .owl-nav {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        font-size: 50px;
        color: $green;
      }

      .owl-prev:hover,
      .owl-next:hover {
        transform: scale(1.5);
      }
    }

    #about {
      li {
        text-align: start;
        padding-left: 1rem;
      }

      .about-coordinates {
        display: grid;

        h3 {
          grid-column: 1/3;
        }
        .coordinates {
          padding-top: 1rem;
        }

        .container-map {
          padding-top: 1rem;

          #map {
            min-width: 300px;
            min-height: 200px;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
