/* VARS */
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* PARTIALS */
body > header {
  position: sticky;
  top: 0;
  height: 85px;
  padding: 1rem 2rem;
  background-color: #009a87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  /*******************
        ICONS
  *******************/
  /*******************
    MENU-BURGER
  *******************/
  /*******************
        MENU
  *******************/
}
body > header .logo {
  display: flex;
  align-items: center;
}
body > header .logo img {
  max-width: 100%;
  width: 60px;
  height: auto;
}
body > header .logo p {
  padding-left: 0.5rem;
  font-family: "Dancing Script", cursive;
  color: #fff;
  width: 8rem;
}
body > header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header .icons li {
  list-style: none;
}
body > header .icons li i {
  color: #fff;
  cursor: pointer;
}
body > header .icons li .fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: -25%;
  content: attr(data-count);
  font-size: 50%;
  padding: 0.6em;
  border-radius: 50%;
  line-height: 0.75em;
  color: #009a87;
  text-align: center;
  font-weight: 900;
  background: white;
  border-style: solid;
}
body > header .icons li .fa-stack[data-count]:after .white-cart {
  color: white;
}
body > header .icons li + li {
  margin-left: 1rem;
}
body > header #hamburger-icon {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
body > header #hamburger-icon span {
  display: block;
  position: absolute;
  height: 0.45rem;
  width: 100%;
  background: #fff;
  border-radius: 4.5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
body > header #hamburger-icon span:nth-child(1) {
  top: 0px;
}
body > header #hamburger-icon span:nth-child(2) {
  top: 9px;
}
body > header #hamburger-icon span:nth-child(3) {
  top: 18px;
}
body > header #hamburger-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
body > header #hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}
body > header #hamburger-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
body > header .menu {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.4s ease all;
}
body > header .menu li {
  list-style: none;
  padding-bottom: 0.5rem;
}
body > header .menu li a {
  cursor: pointer;
  color: black;
  position: relative;
}
body > header .menu li a::after {
  position: absolute;
  content: "";
  background-color: #009a87;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}
body > header .menu li a:hover::after {
  width: 100%;
}
body > header .menu li:last-child {
  display: none;
}
body > header .menu.open {
  transform: translateX(0%);
}
body > header .search {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: Down 1s linear infinite;
  position: absolute;
  overflow-y: hidden;
  top: 8.5rem;
  left: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
body > header .search .input-searchbar {
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 40%;
}
body > header .search .input-searchbar::placeholder {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
body > header .search .button-searchbar {
  position: relative;
  width: 10%;
}
body > header .search.closed {
  top: 8.5rem;
  left: -10000rem;
}

@media screen and (min-width: 900px) {
  body > header .icons {
    display: none;
  }
  body > header .menu {
    width: 80%;
    position: inherit;
    height: inherit;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    transform: inherit;
  }
  body > header .menu li {
    list-style: none;
  }
  body > header .menu li a,
  body > header .menu li i {
    color: #fff;
  }
  body > header .menu li:last-child {
    display: flex;
  }
}
body > footer {
  padding: 1rem 2rem;
  background-color: #009a87;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body > footer h2 {
  font-size: 2.2rem;
}
body > footer .title {
  font-family: "Dancing Script", cursive;
}
body > footer section {
  padding-bottom: 2rem;
}
body > footer section a {
  color: #fff;
}
body > footer section li {
  list-style: none;
}
body > footer section li a {
  color: #fff;
}
body > footer section li a i {
  padding: 0 0.5rem;
}
body > footer .social-networks {
  justify-self: center;
  align-self: center;
}
body > footer .social-networks ul {
  display: flex;
  justify-content: center;
}
body > footer .social-networks ul li {
  padding: 0 0.5rem;
}

@media screen and (min-width: 800px) {
  body > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body > footer .social-networks {
    justify-self: normal;
    align-self: normal;
  }
}
/* PAGES */
#content.home {
  position: relative;
  /*******************
        BANNER
  *******************/
  /*******************
       HOME-NAV
  *******************/
  /*******************
        TOP SALES
  *******************/
}
#content.home h2 {
  text-align: center;
  text-transform: uppercase;
  color: #009a87;
  padding: 4.8rem;
}
#content.home a {
  color: black;
}
#content.home section {
  padding-bottom: 3rem;
}
#content.home .banner {
  padding: 10rem 0;
  background-image: url(../../media/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#content.home .banner h1 {
  color: black;
  text-align: center;
  max-width: 35rem;
  padding-bottom: 1rem;
}
#content.home .banner .btn-articles {
  display: block;
  width: 20rem;
  height: 4rem;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #009a87;
  border: 2px solid #009a87;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
#content.home .banner .btn-articles span {
  position: relative;
  z-index: 2;
}
#content.home .banner .btn-articles:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #009a87;
  transition: all 0.35s;
}
#content.home .banner .btn-articles:hover {
  color: #fff;
}
#content.home .banner .btn-articles:hover:after {
  width: 100%;
}
#content.home .home-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.home .home-nav ul li {
  width: 100%;
  height: 10rem;
  position: relative;
  margin-top: 1rem;
}
#content.home .home-nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 2px 3px black;
  font-size: 4rem;
  line-height: 0.9;
  border-radius: 2rem;
}
#content.home .home-nav ul li::before {
  content: "";
  background-image: url(../../media/nav-home.svg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  border-radius: 2rem;
}
#content.home .top-sales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.home .owl-carousel {
  width: 60%;
}
#content.home .owl-nav {
  display: none;
}

.why-choose-us {
  display: flex;
  flex-direction: column;
}
.why-choose-us article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-choose-us article h3 {
  padding: 0 1rem;
  text-align: center;
}
.why-choose-us article p {
  text-align: center;
  padding: 2rem;
}
.why-choose-us article img {
  margin-bottom: 1rem;
  width: 10rem;
}

@media screen and (min-width: 800px) {
  #content.home .home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #content.home .home-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 60vw;
  }
  #content.home .home-nav ul li {
    margin: 0;
  }
  #content.home .home-nav ul .dog-food {
    grid-column: 1;
    grid-row: span 2;
    height: 100%;
  }
  #content.home .owl-dots {
    text-align: center;
  }
  #content.home .owl-dots button.owl-dot.active span,
  #content.home .owl-dots button.owl-dot:hover span {
    background-color: #009a87;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 1px;
    left: 1px;
  }
  #content.home .owl-dots button.owl-dot {
    border: 1px solid gray;
    background: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: relative;
  }
  .why-choose-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .why-choose-us h2 {
    width: 100%;
  }
  .why-choose-us article {
    width: 20%;
  }
  .why-choose-us article img {
    width: auto;
    height: 10rem;
  }
}
#content.articles {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
#content.articles .order {
  padding: 1rem 0;
}
#content.articles a {
  color: black;
}
#content.articles .all-products {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto auto;
  gap: 2rem;
  max-width: 100%;
}
#content.articles .all-products h1 {
  grid-row: 1;
  grid-column: 1/-1;
  text-align: center;
  color: #009a87;
  text-transform: uppercase;
}
#content.articles .all-products .form-sort {
  grid-row: 2;
  grid-column: 1/-1;
  padding: 1rem 0;
  align-self: center;
}

@media screen and (min-width: 800px) {
  #content.articles .all-products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
#content.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
#content.article img {
  width: 80%;
  height: auto;
  padding-bottom: 2rem;
}
#content.article h1 {
  text-align: center;
}
#content.article .article-item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content.article .article-item .short-desc {
  text-align: center;
}
#content.article .article-item .cart-button {
  position: relative;
  padding: 10px;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  background-color: #009a87;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
#content.article .article-item .cart-button:hover {
  background-color: #0c6f63;
}
#content.article .article-item .cart-button:active {
  transform: scale(0.9);
}
#content.article .article-item .cart-button .fa-shopping-cart,
#content.article .article-item .cart-button .fa-box {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
}
#content.article .article-item .cart-button .fa-shopping-cart {
  left: -10%;
  font-size: 2em;
}
#content.article .article-item .cart-button .fa-box {
  left: 52%;
  top: -20%;
  font-size: 1.2em;
}
#content.article .article-item .cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%, -50%);
}
#content.article .article-item .cart-button span.add-to-cart {
  opacity: 1;
}
#content.article .article-item .cart-button span.added {
  opacity: 0;
}
#content.article .article-item .cart-button.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
#content.article .article-item .cart-button.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}
#content.article .article-item .cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
#content.article .article-item .cart-button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}
#content.article .article-item .disabled {
  background-color: #9c9c9c;
}
#content.article .article-item .disabled .add-to-cart {
  content: "Rupture de stock";
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%, 60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%, 40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#content.article .description-ingredients {
  border: 1px solid #9c9c9c;
  width: 80vw;
}
#content.article .description-ingredients thead tr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.article .description-ingredients thead tr td {
  width: 100%;
  background-color: #009a87;
  text-align: center;
  border-bottom: 1px solid #fff;
}
#content.article .description-ingredients thead tr td h3 {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}
#content.article .description-ingredients thead tr td:hover {
  background-color: #fff;
}
#content.article .description-ingredients thead tr td:hover h3 {
  color: #009a87;
}
#content.article .description-ingredients tbody {
  display: flex;
  flex-direction: column;
}
#content.article .description-ingredients tbody tr {
  padding: 1rem 3rem;
}
#content.article .description-ingredients tbody .ingredients {
  display: none;
}
#content.article .comments {
  padding: 2rem 1rem 0 1rem;
  width: 80vh;
}
#content.article .comments .comment {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  min-height: 50rem;
}

@media screen and (min-width: 800px) {
  #content.article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #content.article img {
    width: 40%;
  }
  #content.article .article-item {
    width: 40%;
  }
  #content.article .description-ingredients {
    width: 80%;
  }
  #content.article .comments {
    width: 80%;
  }
}
#content.cart {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
#content.cart .cart-payement {
  padding: 1rem;
  width: 80%;
  background-color: #fff;
  grid-column: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content.cart .cart-payement h1 {
  text-align: center;
}
#content.cart .cart-payement .article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content.cart .cart-payement .article img {
  width: 10%;
  height: auto;
}
#content.cart .cart-payement .article p {
  padding: 1rem;
  text-align: center;
}
#content.cart .cart-payement .article .increment-decrement-btns {
  display: flex;
  flex-direction: column;
}
#content.cart .cart-payement .article .quantity {
  text-align: center;
}
#content.cart .cart-payement .update-shipping-costs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.cart .cart-payement .update-shipping-costs legend {
  width: 100%;
  text-align: center;
}
#content.cart .cart-payement .update-shipping-costs fieldset {
  width: 50%;
  text-align: center;
}
#content.cart .cart-payement .form-checkout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#content.cart .cart-payement .form-checkout .btn-cart-back,
#content.cart .cart-payement .form-checkout #checkout-button,
#content.cart .cart-payement .form-checkout .btn-login {
  padding: 10px;
  width: 200px;
  border: 2px solid #009a87;
  outline: none;
  cursor: pointer;
  color: #009a87;
  background: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
#content.cart .cart-payement .form-checkout .btn-cart-back:hover,
#content.cart .cart-payement .form-checkout #checkout-button:hover,
#content.cart .cart-payement .form-checkout .btn-login:hover {
  color: #fff;
  background: #009a87;
}

#content.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.contact h1,
#content.contact h2,
#content.contact h3,
#content.contact li,
#content.contact p {
  text-align: center;
}
#content.contact h1 {
  font-size: 2.8rem;
  color: #009a87;
  text-transform: uppercase;
}
#content.contact .contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content.contact .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.contact .contact-form form fieldset {
  width: 100%;
}
#content.contact .contact-form form fieldset input {
  text-indent: 3px;
  width: 100%;
}
#content.contact .contact-form form fieldset textarea {
  width: 100%;
}
#content.contact .contact-form form button {
  padding: 10px;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  background-color: #009a87;
  outline: none;
  cursor: pointer;
  color: #fff;
}
#content.contact .contact-form form button:hover {
  background-color: #0c6f63;
}
#content.contact #about p {
  padding: 1rem 2rem;
}
#content.contact #about h3 {
  text-transform: uppercase;
  background-color: #009a87;
  color: #fff;
  width: 100%;
}
#content.contact #about h3:first-of-type {
  border-bottom: 1px solid #fff;
}
#content.contact #about a {
  color: black;
}
#content.contact .leaflet-pane {
  z-index: 0 !important;
}
#content.contact .container-map {
  width: 100%;
}
#content.contact .container-map #map {
  min-width: 300px;
  min-height: 200px;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 800px) {
  #content.contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #content.contact h1 {
    width: 100%;
  }
  #content.contact .contact-form {
    width: 40%;
  }
  #content.contact #about {
    width: 40%;
  }
  #content.contact #about h3 {
    text-transform: uppercase;
    background-color: transparent;
    width: inherit;
  }
  #content.contact #about .about-schedules,
  #content.contact #about .about-coordinates {
    padding-bottom: 2rem;
  }
  #content.contact .container-map {
    width: 100%;
  }
}
#content.adopt .section-adopt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 5px;
}
#content.adopt .section-adopt h2 {
  width: 100%;
}
#content.adopt .section-adopt article {
  color: #009a87;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 0.5rem;
  min-height: 100%;
}
#content.adopt .section-adopt article img {
  max-width: 100%;
  height: auto;
}

/* ACCOUNT */
#content.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
#content.account section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.account section .update {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 80vw;
}
#content.account section .update .container {
  padding: 1rem;
}
#content.account section .update .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.account section .update .container fieldset button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}
#content.account section .update .container fieldset button:hover {
  background-color: #009a87;
  color: white;
}
#content.account section .update .container input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}
#content.account section .error {
  color: #c91619;
}
#content.account section .my-orders {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#content.account section .my-orders li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.account section .my-orders li .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}
#content.account section .my-orders li a {
  color: black;
}
#content.account section .my-orders li a:hover {
  color: #009a87;
}
#content.account .other-btns button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}
#content.account .other-btns button:hover {
  background-color: #009a87;
  color: white;
}

#content.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
#content.login form {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#content.login form .container {
  padding: 1rem;
}
#content.login form .container legend {
  text-align: center;
  color: black;
}
#content.login form .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.login form .container fieldset input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}

#content.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
#content.register form {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#content.register form .container {
  padding: 1rem;
}
#content.register form .container legend {
  text-align: center;
  color: black;
}
#content.register form .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.register form .container fieldset input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}
#content.register .error {
  color: #c91619;
}

/* LIBS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  background-color: #f8f9fc;
  line-height: 1.8;
}

body.light header {
  background-color: #009a87;
}
body.light header .icons .fa-stack[data-count]:after {
  color: #009a87;
}
body.light header .menu a::after {
  background-color: #009a87;
}
body.light #content.articles h1 {
  color: #009a87;
}
body.light #content.contact h1 {
  color: #009a87;
}
body.light #content.contact .contact-form button {
  background-color: #009a87;
}
body.light #content.contact .contact-form button:hover {
  background-color: #0c6f63;
}
body.light #content.contact #about h3 {
  background-color: #009a87;
}
body.light .description-ingredients thead tr td {
  background-color: #009a87;
}
body.light .description-ingredients thead tr td h3 {
  cursor: pointer;
  color: #fff;
}
body.light .description-ingredients thead tr td:hover {
  background-color: #fff;
}
body.light .description-ingredients thead tr td:hover h3 {
  color: #009a87;
}
body.light #content.cart .form-checkout .btn-cart-back,
body.light #content.cart .form-checkout #checkout-button,
body.light #content.cart .form-checkout .btn-login {
  border: 2px solid #009a87;
  color: #009a87;
  background: #fff;
}
body.light #content.cart .form-checkout .btn-cart-back:hover,
body.light #content.cart .form-checkout #checkout-button:hover,
body.light #content.cart .form-checkout .btn-login:hover {
  color: #fff;
  background: #009a87;
}
body.light #content.home h2 {
  color: #009a87;
}
body.light #content.home .banner .btn-articles {
  color: #009a87;
  border: 2px solid #009a87;
}
body.light #content.home .banner .btn-articles:after {
  background: #2c3e50;
}
body.light #content.home .banner .btn-articles:hover {
  color: #fff;
}
body.light #content.home .home-nav ul li::before {
  background-image: url(../../media/nav-home.svg);
}
body.light #content.home .owl-dots button.owl-dot.active span,
body.light #content.home .owl-dots button.owl-dot:hover span {
  background-color: #009a87;
}
body.light footer {
  background-color: #2c3e50;
}

body.dark header {
  background-color: #2c3e50;
}
body.dark header .icons .fa-stack[data-count]:after {
  color: #2c3e50;
}
body.dark header .menu a::after {
  background-color: #2c3e50;
}
body.dark #content.articles h1 {
  color: #2c3e50;
}
body.dark #content.contact h1 {
  color: #2c3e50;
}
body.dark #content.contact .contact-form button {
  background-color: #2c3e50;
}
body.dark #content.contact .contact-form button:hover {
  background-color: #26323d;
}
body.dark #content.contact #about h3 {
  background-color: #2c3e50;
}
body.dark #content.article .cart-button {
  background-color: #2c3e50;
}
body.dark #content.article .cart-button:hover {
  background-color: #26323d;
}
body.dark #content.article .description-ingredients thead tr td {
  background-color: #2c3e50;
}
body.dark #content.article .description-ingredients thead tr td h3 {
  cursor: pointer;
  color: #fff;
}
body.dark #content.article .description-ingredients thead tr td:hover {
  background-color: #fff;
}
body.dark #content.article .description-ingredients thead tr td:hover h3 {
  color: #2c3e50;
}
body.dark #content.cart .form-checkout .btn-cart-back,
body.dark #content.cart .form-checkout #checkout-button,
body.dark #content.cart .form-checkout .btn-login {
  border: 2px solid #2c3e50;
  color: #2c3e50;
  background: #fff;
}
body.dark #content.cart .form-checkout .btn-cart-back:hover,
body.dark #content.cart .form-checkout #checkout-button:hover,
body.dark #content.cart .form-checkout .btn-login:hover {
  color: #fff;
  background: #2c3e50;
}
body.dark #content.home h2 {
  color: #2c3e50;
}
body.dark #content.home .banner .btn-articles {
  color: #2c3e50;
  border: 2px solid #2c3e50;
}
body.dark #content.home .banner .btn-articles:after {
  background: #2c3e50;
}
body.dark #content.home .banner .btn-articles:hover {
  color: #fff;
}
body.dark #content.home .home-nav ul li::before {
  background-image: url(../../media/nav-home-dark-mode.svg);
  opacity: 1;
}
body.dark #content.home .owl-dots button.owl-dot.active span,
body.dark #content.home .owl-dots button.owl-dot:hover span {
  background-color: #2c3e50;
}
body.dark footer {
  background-color: #2c3e50;
}

.dark-mode-btn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  font-size: 2rem;
}

.product {
  padding: 1rem 2rem;
  background-color: #fff;
  height: 50rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 0 1rem 1.5rem 1rem;
}
.product a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product a h3 {
  font-size: 1.6rem;
}
.product a img {
  width: 70%;
  height: auto;
}
.product .out-of-stock {
  padding: 0 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1rem;
  z-index: 1;
  border: 3px solid #f15c60;
  color: #f15c60;
  background: transparent;
  font-size: 20px;
  font-weight: 900;
}

i {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.8rem;
}

h2,
legend {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

p,
a,
input,
button,
label,
figcaption {
  font-size: 1.6rem;
}

@media screen and (min-width: 1800px) {
  .product {
    height: 70rem;
  }
}

/*# sourceMappingURL=style.css.map */
