/* VARS */
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* PARTIALS */
body > header {
  position: relative;
  background-color: #009a87;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  /*****SEARCH-BAR******/
  /*****MENU******/
  /********MENU-BURGER*********/
}
body > header a {
  text-decoration: none;
}
body > header a .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > header a .logo img {
  max-width: 100%;
  width: 3em;
  height: auto;
}
body > header a .logo figcaption {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: white;
}
body > header .search {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
body > header .search .input-searchbar {
  border: none;
  background-color: white;
}
body > header .search .button-searchbar {
  border: none;
  background-color: white;
  color: white;
}
body > header .menu {
  display: flex;
}
body > header .menu a {
  position: relative;
}
body > header .menu a .cart-count {
  font-size: 1rem;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  opacity: 0.9;
  color: white;
  z-index: 2;
  top: -1.6rem;
  left: 1.3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > header .menu li {
  list-style: none;
}
body > header .menu li i {
  color: white;
  padding-right: 1.2rem;
}
body > header .burger-menu {
  z-index: 999;
  position: absolute;
  display: inline-block;
  background-color: #009a87;
  top: 0;
}
body > header .burger-menu a,
body > header .burger-menu form {
  padding: 0 0 0 2rem;
}
body > header .burger-menu li:not(:first-of-type) a {
  text-decoration: none;
  color: white;
}
body > header .burger-menu li:hover:not(:first-of-type) {
  background-color: white;
}
body > header .burger-menu li:hover:not(:first-of-type) a {
  color: #009a87;
}
body > header .burger-menu.open {
  width: 50vw;
  height: 100vh;
  left: 0;
  transition: ease-in 0.6;
}
body > header .burger-menu.close {
  width: 50vw;
  height: 100vh;
  left: -999rem;
  transition: ease-out 0.5s;
}

body > footer {
  padding: 1rem 2rem;
  background-color: #009a87;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body > footer .title {
  font-family: "Dancing Script", cursive;
}
body > footer section {
  padding-bottom: 2rem;
}
body > footer section li {
  list-style: none;
}
body > footer section li a {
  text-decoration: none;
  color: white;
}
body > footer .social-networks {
  justify-self: center;
  align-self: center;
}
body > footer .social-networks ul {
  display: flex;
  justify-content: center;
}
body > footer .social-networks ul li {
  padding: 0 0.5rem;
}
body > footer .social-networks ul li i {
  font-size: 3rem;
}
body > footer .footer-bar {
  width: 100%;
  border-bottom: 1px solid white;
}

/* PAGES */
#content.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /****BANNER*****/
  /****TOP-PRODUCTS*****/
  /*********ABOUT*********/
}
#content.home h2 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #009a87;
}
#content.home a {
  text-decoration: none;
  color: black;
}
#content.home .banner {
  padding: 2rem 0;
  width: 100%;
  background-image: url(../../media/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.home .banner h1 {
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}
#content.home .banner .btn-1 {
  background-color: transparent;
  border: 3px solid #009a87;
  padding: 1.2rem 1rem;
}
#content.home .banner .btn-1 a {
  color: #009a87;
  text-transform: uppercase;
}
#content.home .top-sales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.home .top-sales a {
  color: black;
}
#content.home .top-sales a .products {
  position: relative;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}
#content.home .top-sales a .products figure {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
#content.home .top-sales a .products figure img {
  width: 80%;
  height: auto;
}
#content.home .top-sales a .products p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem 4rem;
}
#content.home .top-sales a .products .price {
  color: #fff;
  background: rgb(0, 154, 135);
  background: linear-gradient(135deg, rgb(0, 154, 135), rgb(1, 54, 95));
}
#content.home .out-of-stock {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c91619;
  color: #fff;
}
#content.home #about {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 80vh;
  height: auto;
  padding-bottom: 1.5rem;
}
#content.home #about p {
  padding: 1rem 2rem;
}
#content.home #about h3 {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #009a87;
  color: #fff;
  width: 100%;
  text-align: center;
}
#content.home #about h3:first-of-type {
  border-bottom: 1px solid #fff;
}
#content.home #about li {
  padding: 0 2rem;
  list-style: none;
  text-align: start;
}
#content.home #about li a {
  color: black;
}
#content.home #about .container-map #map {
  min-width: 300px;
  min-height: 200px;
  max-width: 100%;
  max-height: 100%;
}

#content.articles .order {
  padding: 1rem 0;
}
#content.articles a {
  text-decoration: none;
  color: black;
}
#content.articles .all-products {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.articles .all-products h1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #009a87;
}
#content.articles .all-products .products {
  position: relative;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}
#content.articles .all-products .products figure {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
#content.articles .all-products .products figure img {
  width: 80%;
  height: auto;
}
#content.articles .all-products .products p {
  text-align: center;
  padding: 0.5rem 4rem;
}
#content.articles .all-products .products .price {
  color: #fff;
  background: rgb(0, 154, 135);
  background: linear-gradient(135deg, rgb(0, 154, 135), rgb(1, 54, 95));
}

.out-of-stock {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c91619;
  color: #fff;
}

#content.article .product {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin: 0;
}
#content.article .product h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #009a87;
}
#content.article .product figure {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
#content.article .product figure img {
  width: 80%;
  height: auto;
}
#content.article .product form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
#content.article .product form .add-to-cart {
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  background: rgb(0, 154, 135);
  background: linear-gradient(135deg, rgb(0, 154, 135), rgb(1, 54, 95));
}
#content.article .product table {
  border: 1px solid #9c9c9c;
  justify-self: center;
  width: 80vw;
}
#content.article .product table thead tr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.article .product table thead tr td {
  width: 100%;
  background-color: #fff;
  text-align: center;
}
#content.article .product table thead tr td h3 {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: #009a87;
}
#content.article .product table thead tr td:hover {
  background-color: #009a87;
}
#content.article .product table thead tr td:hover h3 {
  color: #fff;
}
#content.article .product table tbody {
  display: flex;
  flex-direction: column;
}
#content.article .product table tbody tr {
  padding: 1rem 3rem;
}
#content.article .product table tbody .ingredients {
  display: none;
}

/* ACCOUNT */
#content.admin .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}

#content.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
#content.account .update {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#content.account .update .container {
  padding: 1rem;
}
#content.account .update .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.account .update .container fieldset label {
  font-size: 1.8rem;
}
#content.account .update .container fieldset button {
  width: 50%;
  align-self: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}
#content.account .update .container fieldset button:hover {
  background-color: #009a87;
  color: white;
}
#content.account .update .container input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}
#content.account .error {
  color: #c91619;
}
#content.account .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}
#content.account .my-orders {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#content.account .my-orders a {
  text-decoration: none;
  color: black;
}
#content.account .my-orders a:hover {
  color: #009a87;
}
#content.account .other-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.account .other-btns button {
  width: 50%;
  align-self: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}

#content.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
#content.login form {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#content.login form .container {
  padding: 1rem;
}
#content.login form .container legend {
  font-size: 2.5rem;
  text-align: center;
  color: black;
}
#content.login form .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.login form .container fieldset label {
  font-size: 1.8rem;
}
#content.login form .container fieldset input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}
#content.login form .container .nav-buttons {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
#content.login form .container .nav-buttons fieldset {
  width: 100%;
}
#content.login form .container .nav-buttons fieldset button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}
#content.login form .container .nav-buttons fieldset button a {
  text-decoration: none;
  color: #009a87;
}
#content.login form .container .nav-buttons fieldset button:hover {
  background-color: #009a87;
  color: white;
}
#content.login form .container .nav-buttons fieldset button:hover a {
  color: #fff;
}
#content.login .error {
  color: #c91619;
}

#content.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
#content.register form {
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#content.register form .container {
  padding: 1rem;
}
#content.register form .container legend {
  font-size: 2.5rem;
  text-align: center;
  color: black;
}
#content.register form .container fieldset {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
#content.register form .container fieldset label {
  font-size: 1.8rem;
}
#content.register form .container fieldset input {
  padding: 0.5rem 1rem;
  border: 1px solid #9c9c9c;
  border-radius: 1rem;
}
#content.register form .container .nav-buttons {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
#content.register form .container .nav-buttons fieldset {
  width: 100%;
}
#content.register form .container .nav-buttons fieldset button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #fff;
  color: #009a87;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}
#content.register form .container .nav-buttons fieldset button a {
  text-decoration: none;
  color: #009a87;
}
#content.register form .container .nav-buttons fieldset button:hover {
  background-color: #009a87;
  color: white;
}
#content.register form .container .nav-buttons fieldset button:hover a {
  color: #fff;
}
#content.register .error {
  color: #c91619;
}

/* LIBS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  line-height: 1.8;
}

/*# sourceMappingURL=style.css.map */
